/* Your styles goes here. */
.box {
  width: calc(600px + 3px + 1px);
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .inner-box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    // // #n
    &:not(:nth-child(3n)) {
      border-right: none;
    }

    // // -n + (#*2)
    &:nth-last-of-type(-n + 6) {
      border-top: 0px;
    }
  }
}
